@import "tailwindcss";

:root {
  --background: #FAFAF9;
  --foreground: #292524;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1917;
    --foreground: #F5F5F4;
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(#D6D3D1 1px, transparent 1px);
  background-size: 24px 24px;
}

